@model Trouvtou.Models.Rangement

@{
    ViewData["Title"] = "Delete";
}

<h1>Supprimer</h1>

<h3>Êtes-vous sûr de vouloir supprimer ce rangement</h3>
<div>
    <h4>Rangement</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.couleur)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.couleur)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.descriptionDetail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.descriptionDetail)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Retour à la liste des rangements</a>
    </form>
</div>
