@model Trouvtou.Models.Rangement

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Rangement</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.couleur)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.couleur)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.descriptionDetail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.descriptionDetail)
        </dd>
        <dd class="col-sm-10">
            <table class="table">
                <tr>
                    <th>Objet</th>
                    <th>Description de l'objet</th>
                    <th>Date du dernier rangement</th>
                </tr>
                @foreach (var item in Model.listObjet)
                {
                    <tr>    
                        <td>
                            @Html.DisplayFor(modelItem => item.nom)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.dateDernierRangement)
                        </td>
                    </tr>
                }
            </table>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id">Modifier</a> |
    <a asp-action="Index">Retour à la liste des rangements</a>
</div>
